.flex-page{
    display: flex;
    padding: 15px 0 15px 0;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 35px;
    height: auto;
}
.menu-button{
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    max-width: 75px;
    border: 1px solid;
}
.form-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
}
.title{
    background-color: rgb(0, 17, 255);
    color:aliceblue;
    margin-bottom: 10px;
    border: 2px solid black;
}
.form{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 15px;
}
input{
  width: 100%;
    height: 35px;
    text-align: center;
    border: 2px solid;
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.button{
    flex: 1 ;
    border: 3px solid;
    font-weight: 900;
    font-size: large;
    height: 40px; 
    background-color: var(--selected-color,rgb(87, 100, 144));
}
.button:hover {
    transform: scale(1.05); /* Slightly enlarge button on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Gölgelendirme efekti */
  }
  .menu-button:hover {
    background-color: #e9ecef; /* Hover durumunda daha açık arka plan rengi */
    color: #495057; /* Hover durumunda daha koyu metin rengi */
    transform: scale(1.05); /* Hover durumunda öğeyi biraz büyüt */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Gölgelendirme efekti */
  }
  *{
    display: flex;
    justify-content: center;
  }
  @media (max-width: 600px) {
    .form{
        height: auto;
        width: auto;
    }
    input{
       width: 100%;
       text-align: center;
    }
    .title{
        width: auto;
    }
    .menu{
        display: none;
    }
  
    .form-outer{
        width: 90%;
    }
h1{
   margin-block-start: 0; 
   margin-block-end: 0;
}
}