<div class="flex-page">
    <div class="menu">
        <button class="menu-button" *ngFor="let item of menuItems" (click)="onMenuItemClick(item.color)">
          {{ item.label }}
        </button>
      </div>
      <div class="form-outer">
    <h1 class="title">Page One</h1>
    <form #addForm="ngForm" class="form">
        <div>
            <input type="text"  ngModel name="field1" required placeholder="Field 1" />
        </div>
      <div>
        <input type="text" ngModel name="field2" required placeholder="Field 2" />
      </div>
      <div>
        <input type="text" ngModel name="field3" required placeholder="Field 2" />
      </div>
      <div>
        <input type="text" ngModel name="field4" required placeholder="Field 2" />
      </div>
      <div class="form-buttons">
        <button class="button" type="button"  [disabled]="!addForm.valid">Reset</button>
        <button class="button" type="submit" [disabled]="!addForm.valid" >Submit</button>
      </div>
    </form>
       </div>
  </div>
  